- content_for :page_title, 'Projects'

.page-header
  %h3 Projects

- projects.each do |project|
  %p.title
    .panel.panel-default
      .panel-heading
        = link_to project.title, project.hyperlink
      .panel-body
        - if developer_signed_in?
          = link_to '[edit]', edit_project_path(project)
        = project.description
