- content_for :page_title, @post.title

.page-header
  %h3= @post.title

- if developer_signed_in?
  = link_to '[edit]', edit_post_path(@post.url_slug)
.content
  - if @post.one_year_or_older?
    .well.well-sm
      %em Any code contained in this post is more than a year old; please use at your own risk.

  %p= find_and_preserve markdown_render @post.body
  %p.posted= link_to @post.display_date
