- content_for :page_title, @post.title

%h3= @post.title
- if developer_signed_in?
  = link_to '[edit]', edit_post_path(@post.url_slug)
.content
  %p= find_and_preserve markdown_render @post.body
  %p.posted
    #{@post.created_at.strftime('%b %d, %Y')}
