$black:      #3d3d3d
$light-gray: #ccc
$white:      #fff

body
  font-size: 14px
  color: $black

  .navbar
    border-radius: 0
    a
      text-decoration: none

  a, a:hover, a:visited
    color: $black
    text-decoration: underline

  h1 a, a:hover, a:visited
    text-decoration: initial

  p > code, li > code
    background: $light-gray
    color: $black

footer
  text-align: center
  padding: 1.0em
  a, .btn
    color: $black
    &:hover, &:visited
      color: $black

nav
  padding-bottom: 1.0em
