$text-color: rgba(46,48,58,0.96)
$light-gray: #a8a8a8
$pantone-color-of-the-year: #955251
$small: 0.8em

// Normalization
a
  color: $text-color
  text-decoration: initial

ul, li
  margin: 0
  padding: 0

body
  background-color: #fff
  color: $text-color
  font-family: helvetica
  margin: 0 auto
  width: 900px
  .older-posts
    display: none

// Style
main
  header
    padding-bottom: 20px
    ul
      list-style: none
      float: right
      margin-top: -24px
      li
        font-size: $small
        display: inline
        padding: 7px
        border-bottom: 1px solid $light-gray
        margin-right: 7px
        &.action-button
          border-bottom: none
    img
      margin-bottom: -74px
      border-radius: 50px
    h1
      margin: 0 auto
      width: 300px
      text-align: center
      font-family: 'Lato', serif
    .subheader
      margin: 0 auto
      width: 200px
      text-align: center
      padding: 10px
  #flash
    p.alert
      color: red
    p.notice
      color: green

  section
    .project
      .small
        color: $light-gray
        font-style: italic
        font-size: $small
    .expand-button a
      color: $light-gray
      font-style: italic
      font-size: $small
    article, form
      #post_title
        width: 300px
      #post_body
        width: 100%
        height: 400px
    .content
      ul
        list-style-position: inside
      a
        color: $pantone-color-of-the-year
      code
        background: #d3d3d3
        padding: 0 .4em
        margin: 0 .2em
    .posted a
      color: $light-gray
      font-style: italic
      font-size: $small

  footer
    color: $light-gray
    text-align: center
    padding: 80px
    font-size: $small
    a
      color: $light-gray
