$text-color: rgba(46,48,58,0.96)
$light-gray: #a8a8a8

body
  nav
    a
      color: $text-color
      text-decoration: initial
    .navbar-brand
      font-family: 'Lato', serif

  a
    text-decoration: initial

  main
    padding-top: 30px
    .older-posts
      display: none
    .expand-button
      font-style: italic
      a
        color: $light-gray
    .posted
      font-style: italic
      a
        color: $light-gray

footer
  text-align: center
